<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
  <test verbose="2" preserve-order="true" name="D:/TWL/FirstProject/UrBuddi/src/test/java/tests">
    <classes>
      <class name="tests.CrudAPITest">
        <methods>
          <include name="urBuddiLoginWithHR"/>
          <include name="addEmployee"/>
          <include name="urBuddiLoginWithEmployee"/>
          <include name="applyLeave"/>
          <include name="getLeaveId"/>
          <include name="urBuddiLoginWithLead"/>
          <include name="ApproveLeave"/>
          <include name="addResourceToEmployee"/>
        </methods>
      </class>
      <class name="tests.DataDrivenTest">
        <methods>
          <include name="executeApisFromExcel"/>
        </methods>
      </class>
    </classes>
  </test>
</suite>
